numpy==1.24.3
pandas==2.0.2
regex==2023.6.3
requests==2.31.0
tiktoken==0.4.0

# my own custom ones
flask==2.3.2
python-dotenv==1.0.0
openai==0.27.8
openai[embeddings]==0.27.8
openai[datalib]==0.27.8
#chromadb
#mysql-connector-python==8.0.33
Flask-Limiter==3.3.1
waitress==2.1.2
tqdm==4.65
halo==0.0.31
colorama==0.4.4
schedule==1.2.0